/* style.css */
body {
  font-family: Arial, sans-serif;
  
}

.bg-danger {
  background-color: #B22222;
}

.text-warning {
  color: #B8860B;
  

}

.bg-purple {
  background-color: purple;
  
  
}

.bg-secondary {
  background-color: #808080;
  
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}