.bg-success {
    background-color: green;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.display-4 {
    font-weight: bold;
}

.img-fluid {
    max-width: 30%; /* Ajustez la largeur maximale comme vous le souhaitez */
    height: auto;
    margin: 0 auto; /* Centre l'image horizontalement */
}
